<h3><%= group_name.titleize %></h3>
<% if tasks.any? %>
  <ul><%
    tasks.each do |t| %>
    <%= render 'task', task: t %>
    <% end
  %></ul>
<% else %>
  <p>(There are not any <%= group_name.humanize(capitalize: false) %> in the <%= @current_page_desc %>.)</p>
<% end %>
